Базовые понятия статистиĸи и ĸлассичесĸих МЛ алгоритмов (deep learning не входит). Поддержĸа общей архитеĸтуры и рефаĸторинг. REST API, sql, git. 
Опыт работы с SCM (Git). Опыт работы с ML и конвейерами данных в любых фреймворках (AriFlow, Luigi, Kubeflow и т...
Навык работы с консолью на уровне grep, ls, cd. Как плюс: опыт работы со Spark, Kubernetes, знакомство с ML/DP.
Опыт в аналогичной должности от 1.5 лет (python 3.6). Опыт разработки серверных приложений на вебфреймворках Python (FastAPI...
Уверенное знание языка и библиотек Python. Опыт разработки RESTful webсервисов. Понимание принципов работы и архитектуры высоконагруженных приложений и микросервисов. 
Required experience and skills: 3 years of experience with Python. Proficiency with FastAPI, SQLAlchemy. Proficiency with AWS (boto3). 
Что ждем от разработчика: техническую экспертизу, круто если есть архитектурный бэкграунд и/или желание в этом направлении прокачиваться. 
Опыт внедрения AI/ML разработок для решения практических задач. Знание и опыт разработки, а также проектирования высоконагруженных информационных систем. 
5 лет опыта разработки на Python. Отличные знания SQLбаз данных (особенно, PostrgeSQL). Опыт написания и оптимизации запросов. 
5 years of software development experience working on problems that are related to big data, ML, NLP, cloud architectures, and...
5 years of software development experience working on problems that are related to big data, ML, NLP, cloud architectures, and...
3 летний опыт Backend разработки на Python. Опыт на С или Go. Опыт тестирования (модульные тесты, тестирование производительности). 
Имеет коммерческий опыт работы с серверными языками программирования (работает на Python, но знаком и с другими языками, например nodejs/java...
To have strong knowledge of classic ML. To have handson experience with NLP and Recommender Systems. To love academic...
Знание Python на уровне Middle. Умение решать задачи машинного обучения с помощью какого либо фреймворка (tensorflow, Pytorch, etc). 
Знание Python на уровне Middle. Умение решать задачи машинного обучения с помощью какоголибо фреймворка (tensorflow, Pytorch, etc). 
Опыт backend разработки от 3х лет на Python. Знание классических алгоритмов, структур данных, алгоритмов на графах, понимание принципов ООП...
3 летний опыт Backend разработки на Python. Приветствуется опыт на С. Опыт тестирования (модульные тесты, тестирование производительности). Высокую культуру разработки...
Опыт backend разработки от 3х лет на Python. Знание классических алгоритмов, структур данных, алгоритмов на графах, понимание принципов ООП...
Опыт backend разработки от 3х лет на Python. Знание классических алгоритмов, структур данных, алгоритмов на графах, понимание принципов ООП...
