Знание и умение оптимизации LAMP, nginx, exim, named, pdns и других популярных служб для работы сайтов. Умение написания скриптов на...
2 years of experience with statistical analysis, data visualisation and predictive modeling. 2  years of experience with SQL for data...
...Битрикс и WordPress. Знание языков (frontend): HTML, CSS и JavaScript. Знание языков (backend): PHP, а также Java, Python и C#.
Proficient in SQL, use analytical functions and stored procedures and code in Python. Know ETLframeworks and automation tools. 
